.banner-contato{
    margin-top: 10px;
    height: 400px;
    background-image: url("../imgs/banner02.jpg");
    position: relative;
    border-radius: 5px;
}

#conosco{
    margin: 20px 0;
}

/* .cancelar{
    color: rgb(128, 0, 0);
}
.green{
    color: rgb(0, 100, 0);
} */
.cancelar:hover{
    background-color: red;
}
.green:hover{
    background-color: rgb(25, 135, 84);
}